<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Hello, this is program to find your twitter friends locations</h1>
    <h1>Enter your api key abd user name.</h1>
    <form action="/followers" method="post">
        <lable for="name"> Enter your friends nick:</lable> <input type="text" name="user_name" placeholder="Nick_name">
        <lable for="name"> Enter your API key:</lable> <input type="text" name="API_key" placeholder="API_key"> <button
            type="submit">Submit</button>
    </form>
</body>

</html>